@model TNTT_Management.Models.USER_PARISH_ROLE
@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                    <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Quản lý thiếu nhi
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
                            <button class="btn btn-danger"
                                    onclick="demo.showSwal('warning-message-and-confirmation')">
                                <i class="material-icons">exit_to_app</i>Đăng xuất
                            </button>
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="material-icons">add_circle_outline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">
                                Thêm thiếu nhi
                            </h4>
                            <form action="/Student/AddStudent" method="post">
                                <!-- Normal Information -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Tên thánh *</label>
                                            <input type="text" name="holy_name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Họ và tên lót *</label>
                                            <input type="text" name="first_name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Tên *</label>
                                            <input type="text" name="last_name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input type="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Điện thoại liên lạc</label>
                                            <input type="text" name="phone_number" class="form-control" minLength="10">
                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                        <div class="col-md-2 dropdown-label">
                                            <p>Thuộc niên khoá:</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="selectpicker" data-style="btn btn-primary btn-round"
                                                    title="Chọn niên khoá">
                                                <option disabled selected>Chọn niên khoá</option>
                                                <option value="2">1990-1991</option>
                                                <option value="3">1992-1993</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 dropdown-label">
                                            <p>Thuộc ngành:</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="selectpicker" data-style="btn btn-primary btn-round"
                                                    title="Chọn ngành">
                                                <option disabled selected>Chọn ngành</option>
                                                <option value="2">Ngành 1</option>
                                                <option value="3">Ngành 2</option>
                                            </select>
                                        </div>
                                    </div>*@
                                    <div class="col-md-12">
                                        @*<div class="col-md-2 dropdown-label">
                                            <p>Thuộc khối:</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="selectpicker" data-style="btn btn-primary btn-round"
                                                    title="Chọn khối">
                                                <option disabled selected>Chọn khối</option>
                                                <option value="2">Khối 1</option>
                                                <option value="3">Khối 2</option>
                                            </select>
                                        </div>*@
                                        <div class="col-md-2 dropdown-label">
                                            <p>Học lớp:</p>
                                        </div>
                                        <div class="col-md-3">
                                                @Html.DropDownList("class_id",
                                              (IEnumerable<SelectListItem>)ViewBag.listClasses,
                                              "Chọn lớp",new {@class= "selectpicker" })
                                          
                                        </div>
                                    </div>
                                    <!-- Toggle Other Information -->
                                    <div id="showToggle" class="col-md-12 my-3">
                                        <hr>
                                        <div class="row my-2 ml-4">
                                            <label class="col-sm-2 label-on-left">Giới tính</label>
                                            <div class="col-sm-10">
                                                <div class="radio checkbox-inline">
                                                    <label>
                                                        <input type="radio" value="1" name="gender"
                                                               checked="true">Nam
                                                    </label>
                                                </div>
                                                <div class="radio checkbox-inline">
                                                    <label>
                                                        <input type="radio" value="0" name="gender">Nữ
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Địa chỉ</label>
                                                    <input type="text" name="useradress" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Ghi chú</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="label-control validateday"
                                                           id="validateday">
                                                        Ngày
                                                        sinh
                                                    </label>
                                                    <input type="date" name="birthday" class="form-control"
                                                           placeholder="Chọn ngày sinh" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="label-control validateday">
                                                        Ngày bổn
                                                        mạng
                                                    </label>
                                                    <input type="date" name="baptised_date" class="form-control "
                                                           placeholder="Chọn ngày bổn mạng" />
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Thuộc giáo xứ</label>
                                                    <input type="text" name="parish" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Giáo khu</label>
                                                    <input type="text" name="diocese" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Giáo phận</label>
                                                    <input type="text" name="province" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(model => model.parishid, new SelectList(ViewBag.ListParishes, "local_parish_id", "parish_name"), "Chọn giáo xứ"
                                               ,new { @class = "selectpicker"})
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Tên cha</label>
                                                    <input type="text" name="father_name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Số điện thoại cha</label>
                                                    <input type="number" name="father_phone_number" class="form-control" minLength="10">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Tên mẹ</label>
                                                    <input type="text" name="mother_name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Số điện thoại mẹ</label>
                                                    <input type="number" name="mother_phone_number" class="form-control" minLength="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Button -->
                                <br>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-info btn-fill" id="toggleBtn"
                                            data-text-swap="Đóng lại">
                                        Thông tin khác
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pull-right">
                                    <button type="reset" class="btn btn-default btn-fill">Đặt lại</button>
                                    <button type="submit" class="btn btn-success btn-fill">
                                        Thêm thiếu
                                        nhi
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col-md-12 -->
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                TNTT Vietnam
            </nav>
            <p class="copyright pull-right">
                Được phát triển bởi QA System Development
            </p>
        </div>
    </footer>
</div>

